<div class="w-screen h-screen bg-center bg-hero flex items-center justify-center">
  <h1 class="text-7xl font-brand font-bold text-white break-all text-center">
    <p>Mexican</p>
    <p>Streetfood</p>
  </h1>
</div>
