<div id="menu" class="py-12 px-8 bg-yellow-300">
  <div class="flex flex-col">
    <h4 class="text-3xl font-bold font-brand text-center">Menu</h4>
  </div>

  <div class="mt-8 flex items-center justify-center text-2xl font-semibold">
    <div class="grid grid-cols-12 grid-rows-6 w-3/5 mx-auto space-x-6 space-y-4">
      <div class="border-4 border-black col-start-3 col-span-4 row-span-2">
        <div class="flex space-x-4 border-b-4 border-black">
          <div class="border-r-4 border-black px-2 font-heading">1</div>
          <div class="pr-4 font-heading">Choose your style</div>
        </div>

        <div class="flex flex-col">
          <ul class="space-y-4 p-2">
            <li>Burrito</li>
            <li>Tacos 3</li>
            <li>Naked Burrito</li>
            <li>Quesadilla</li>
            <li>Nachos</li>
          </ul>
        </div>
      </div>

      <div class="border-4 border-black col-span-5 row-span-3">
        <div class="flex space-x-4 border-b-4 border-black">
          <div class="border-r-4 border-black px-2 font-heading">2</div>
          <div class="pr-4 font-heading">Choose your filling</div>
        </div>

        <div class="flex flex-col">
          <ul class="space-y-4 p-2">
            <li>Roasted Chicken</li>
            <li>Beef</li>
            <li>Carnoso Beef</li>
            <li>Pork</li>
            <li>Vegetarian</li>
            <li>White Rice</li>
            <li>Black Beans</li>
          </ul>
        </div>
      </div>

      <div class="border-4 border-black col-start-1 col-span-6 row-span-2">
        <div class="flex space-x-4 border-b-4 border-black">
          <div class="border-r-4 border-black px-2 font-heading">3</div>
          <div class="pr-4 font-heading">Choose your toppings</div>
        </div>

        <div class="flex flex-col">
          <ul class="space-y-4 p-2">
            <li>Pico de Gallo</li>
            <li>Lettuce</li>
            <li>Cheese</li>
            <li>Cream chipotle</li>
            <li>Sour Cream</li>
          </ul>
        </div>
      </div>

      <div class="border-4 border-black col-span-6 row-span-2">
        <div class="flex space-x-4 border-b-4 border-black">
          <div class="border-r-4 border-black px-2 font-heading">4</div>
          <div class="pr-4 font-heading">Choose your salsa</div>
        </div>

        <div class="flex flex-col">
          <ul class="space-y-4 p-2">
            <li>Red salsa (mild)</li>
            <li>Green salsa (mild)</li>
            <li>Chipotle Salsa (spicy)</li>
            <li>Habanero (spicy)</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
