---
const linkStyle = "hover:underline hover:decoration-solid hover:underline-offset-4";
---

<header class="bg-pink-400 py-10 px-12 absolute top-0 left-0 right-0 z-10">
  <nav>
    <ul class="flex items-center justify-center space-x-12 font-brand text-2xl">
      <li>
        <a href="#bienvenidos" class={linkStyle}>Bienvenidos</a>
      </li>
      <li>
        <a href="#menu" class={linkStyle}>Menu</a>
      </li>
      <img src="/images/logo-no-background.png" alt="Logo" class="h-16 w-36" />
      <li>
        <a href="#contact" class={linkStyle}>Contact</a>
      </li>
      <li class="underline decoration-solid decoration-4">We're open now</li>
    </ul>
  </nav>
</header>
