<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta
      name="description"
      content="Welcome to Sabroso, your go-to destination for authentic and delicious Mexican cuisine. Our restaurant offers a vibrant and lively atmosphere, with a menu packed full of mouth-watering dishes made with the freshest ingredients."
    />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <title>Sabroso</title>
  </head>
  <body>
    <slot />
  </body>
</html>
